.navbar {
    padding: 6px;
}


.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    font-size: 25px;
}

#game game-title{
  margin: 5px;
  background-color: #fff;
  border-color: gray;
  border: 1px solid;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

#keyboard button{
    background-color: #d3d6da;
    border-color: #0000;
    border: 2px solid;
    opacity: 0.5;
    border-radius: 4px;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);

}

#board-container, #keyboard {
    margin-top: 80px;
    margin-bottom: 80px;
}

